body {
  background-color: #aaa
}

.insideapp {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.panel--search {
  background-color: #ccc;
}

.content {
  width: 90%;
  margin: 20px auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 75%;
  }
}

@media screen and (min-width: 1028px) {
  .insideapp {
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .panel {
    height: auto;
    overflow: auto;
  }
  
  .panel--search {
    width: 33.3%;
  }
  
  .panel--results {
    width: 66.7%;
  }
}