.panel--results {
  background-color: #111;
  color: yellow;
  text-align: left;
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.result-content {
  width: 75%;
  margin: 0 auto;
}


@media screen and (max-width: 1028px) {
  h3 {
    font-size: 1.5em;
    margin-top: 10px;
  }

  h4 {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  h3, p {
    font-size: 0.75em;
  }

  h4 {
    font-size: 0.65em;
  }
}