.panel--results {
  background-color: #111;
  color: yellow;
}

.titles {
  text-align: center;
}

.opening-crawl {
  text-align: justify;
  font-size: 2em;
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 1028px) {
  .opening-crawl {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 576px) {
  .opening-crawl {
    font-size: 1em;
  }
}