.divide-line {
  margin: 10px auto;
  width: 90%;
  border: 0.5px solid black;
}

.centre-text {
  text-align: center;
  margin: 0 auto;
}

.search-result {
  margin: 20px 0;
  font-weight: bold;
}

.loading {
  margin: 15px 0;
}